@import "./mixins.scss";
$white-color: #f2f2f2;
$blue-color: #00205b;
$yellow-color: #f2a900;

* {
  box-sizing: border-box;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: $white-color;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: -63px;
    border: 10px solid $blue-color;
    @include center-horizontal();
  }
  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 30px;
    background-color: $blue-color;
    position: absolute;
    top: -90px;
    @include center-horizontal();
  }
  .spinner-items {
    width: 100%;
    height: 100%;
    transition: transform 10s ease;
    -webkit-transition: transform 10s ease;
    will-change: transform;
    position: relative;
    z-index: 1;
  }
  .spinner-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
  }
  .spinner-item {
    &:after {
      content: attr(data-name);
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $blue-color;
      top: -40px;
      color: $white-color;
      text-align: center;
      line-height: 80px;
      font-size: 0.5em;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease;
      @include center-horizontal();
    }
    &--winner {
      &:after {
        color: $yellow-color;
        transform: translateX(-50%) scale(1.5);
        -webkit-transform: translateX(-50%) scale(2);
      }
    }
  }
}
