@import './mixins.scss';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #f2f2f2;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #333333;
    top: -50px;
    @include center-horizontal();
  }
  .spinner-items {
    width: 100%;
    height: 100%;
    transition: transform 3s ease;
    -webkit-transition: transform 3s ease;
    will-change: transform;
  }
  .spinner-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
  }
  .spinner-item {
    &:after {
      content: attr(data-key);
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #333333;
      top: -35px;
      color: #f2f2f2;
      text-align: center;
      line-height: 70px;
      @include center-horizontal();
    }
  }
}